<html>
<head>
<style>
h1, h2, h3, h4, h5, h6 {
	text-align: center;
	font-family: Comic Sans MS, cursive, sans-serif;
	color: rebeccapurple;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: plum;
	margin-bottom: 25px;
	color: rebeccapurple;
	padding: 15px;
}
button {
	padding: 16px 20px;
	margin: 8px 0;
	border: 1px solid rebeccapurple;
	cursor: pointer;
	opacity: 0.9;
}
form {
	background-color: plum;
	border-radius: 5px;
	padding: 5 px;
	text-align: center;
}
form > input {
	border: 1px solid rebeccapurple;
	color: rebeccapurple;
}
header {
	padding: 30px;
	text-align: center;
	font-size: 35px;
}
.left {
	float: left;
}
.right {
	float: right;
}
.topnav {
	background-color: plum;
	overflow: hidden;
}
.topnav a, button {
	float: left;
	color: rebeccapurple;
	text-align: center;
	padding: 14px 16px;
	text-decorator: none;
	font-size: 17px;
}
table, tr, th, td {
	border: 1px solid rebeccapurple;
	color: rebeccapurple;
}
p {
	color: rebeccapurple;
}
nav {
	padding: 20px;
}
nav ul {
	list-style-type: none;
	padding: 0;
}
article {
	padding: 20px;
}
section:after{ /*clear floats after the columns */
	content: "";
	display: table;
	clear: both;
}
@media(max-width: 600px){ /*makes the boxes stack on top instead of next on small screens */
	nav, article {
		width: 100%;
		height: auto;
	}
}
</style>
</head>
</html>
